<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>れん部屋</title>
</head>
<body>
    <div class="container">
        <h1>プロキシ部屋</h1>
        <% if (proxy) { %>
            <p class="proxy"><%= proxy %></p>
        <% } %>
        <h1>れんにゃんプロキシ部屋</h1>
        <% if (rproxy) { %>
            <p class="rproxy"><%= rproxy %></p>
        <% } %>
          <h1>宣伝部屋</h1>
        <% if (senden) { %>
            <p class="senden"><%= senden %></p>
        <% } %>
        </div>
</body>
</html>
